{:deps    {org.clojure/clojure {:mvn/version "1.10.1"}
           ivarref/aot-debug   {:mvn/version "0.1.0"}}

 :paths   ["src"]

 :aliases {:build
           {:extra-paths ["build"]
            :extra-deps  {badigeon/badigeon {:git/url "https://github.com/EwenG/badigeon.git"
                                             :sha     "dca97f9680a6ea204a2504c4414cafc4ba182a83"}}}}}
